@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display';



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* set container grid */
.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 350px 50px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "c c c c c c c c c c c c"
        "c c c c c c c c c c c c";
}


.header {
    grid-area: h;
}
.menu {
    grid-area: m;
}
.content {
    grid-area: c;
  }
.footer {
   grid-area: f;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Playfair Display', serif;
    float: right;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    font-weight: bold;
    color: black;
}

/* Add a color to the active/current link */
/* .topnav a.active {
    background-color: white;
    color: black;
} */

#home-button {
  float: left;
}

#images {
  float: left;
  width: 300px;
  display: inline-grid;
  padding: 5px;
}

.slider-image {
  width: 50vw;
}
